<header class="header">
  <div class="container">
    <h1>Vote for Labour</h1>
    <img src="/img/logo.png" alt="Vote for Labour" />
  </div>
</header>
<nav role="navigation" class="nav">
  <div class="container">
    <ul>
      <li><a href="#why">Why <span>should I vote for Labour?</span></a></li>
      <li><a href="#who">Who <span>is my local candidate?</span></a></li>
      <li><a href="#how">How <span>do I register to vote?</span></a></li>
    </ul>
  </div>
</nav>
<ul class="content">
  <li id="why">
    <div class="container">
      <h2 class="title"><span>Why</span> should I vote for Labour?</h2>
      <div>
        <p><strong>Brief paragraph about labour values Spicy jalapeno bacon ipsum dolor amet aliqua sed proident beef tenderloin eu. Cillum minim irure shank mollit do swine dolore rump nisi in aliquip beef flank. Brisket tenderloin laboris ground round porchetta alcatra in shoulder. Esse porchetta alcatra ham ad pastrami fugiat. Capicola enim magna, kielbasa in tail biltong t-bone. List of main policies:</strong></p>
        <ul>
          <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
          <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</li>
          <li>Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, ravida non, commodo a, sodales sit amet, nisi.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
          <li>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</li>
          <li>Nulla sed leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
        </ul>
      </div>
    </div>
  </li>
  <li id="who">
    <div class="container">
      <h2 class="title"><span>Who</span> is my local candidate?</h2>
      <div id="result">
        <form action="/" method="POST" class="form">
          <label>Enter your postcode below to find your local candidate:</label>
          <input type="text" name="postcode" id="postcode" autocomplete="postal-code" required />
          <button type="button" data-behaviour="geo-locate">Get my location</button>
          <button type="submit">Search</button>
          <div class="loading-message"></div>
        </form>
      </div>
    </div>
  </li>
  <li id="how">
    <div class="container">
      <h2 class="title"><span>How</span> do I register to vote?</h2>
      <div>
        <p><strong>Registering to vote is pretty easy just follow these steps:</strong></p>
        <ol>
          <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
          <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</li>
          <li>Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, ravida non, commodo a, sodales sit amet, nisi.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
        </ol>
        <p>Some blurb</p>
      </div>
    </div>
  </li>
</ul>
<footer class="footer">
  <p>Made by volunteers</p>
  <img src="/img/footer-logo.png" alt="Made by volunteers" />
</footer>